h3 Confirmation de votre trajet

  p Bonjour #{firstName} #{lastName}, 
  p Vous venez de renseigner votre trajet #{travelType} lié à votre mobilité à #{place} sur la plateforme #[strong Mobilan] et nous vous en remercions. 
  p 
      | Vous conserverez ce message pour le rediriger au service Relations Internationales (RI) de Polytech Montpellier, email : <br />
      | polytech-international@umontpellier.fr.
  P La procédure devra être renouvelée pour le trajet retour.
  p Cordialement,
  p L’équipe Mobilan



br
br

h3 Confirmation of your travel 

    p Hi #{firstName} #{lastName}, 
    p You have just filled in your travel information for your mobility in #{place} on the #[strong Mobilan] platform and we thank you for it. 
    p 
        | You will keep this message to redirect it to the International Relations (IR) department of Polytech Montpellier, email : <br />
        | polytech-international@umontpellier.fr.
    p The procedure will have to be repeated for the return journey.
    p Yours sincerely,
    p The Mobilan team. 
